<h1>Listing quotes</h1>

<table>
  <tr>
    <th>Price</th>
    <th>Date</th>
    <th>Stock symbol</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quotes.each do |quote| %>
  <tr>
    <td><%= quote.price %></td>
    <td><%= quote.date %></td>
    <td><%= quote.stock_symbol %></td>
    <td><%= link_to 'Show', quote %></td>
    <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
    <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quote', new_quote_path %>
