<p id="notice"><%= notice %></p>

<p>
  <b>Price:</b>
  <%= @quote.price %>
</p>

<p>
  <b>Date:</b>
  <%= @quote.date %>
</p>

<p>
  <b>Stock symbol:</b>
  <%= @quote.stock_symbol %>
</p>


<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
