<head>
	<%= javascript_include_tag 'application' %>
</head>
	<body class="picker">
		<div class="pure-g-r">
			<h2 class="pure-u-1">Customize Your Stock Quote</h2>
		</div>
		<hr>
		<br />
		<table class="pure-table pure-table-bordered ">
			<tbody>
				<tr>
					<td>You selected <%= @stock_proper_name %></td> 
					<td>The market values <%= @stock_proper_name %> at: </td>
					<td>We value <%= @stock_proper_name %>  at: </td>
				</tr>
				<tr>
					<td><strong><%= @stock_symbol_name %></strong></td>
					<td><strong><%= get_stock_prices(@stock_symbol_name) %></strong></td>
					<td><strong><%= @our_stock_price %></strong></td>
				</tr>
			</tbody>
		</table>
		<br />
		<h3>What do you think the stock is worth?  Answer the questions below and submit your results to get your customized stock price.</h3>

		<form  class="pure-form pure-form-stacked" method="POST" action="/stocks/results" id="pickerForm"\>
			<fieldset>
				<legend>Questions</legend>
				<hr>
				<ol>
					<li><label>How many years do you want to keep the stock for?</label>
					<input type="number" name="mod_stock_yearHorizon" min="1" max="30"></input></li><br />

					<li><label>How much better (or worse) do you think the economy will be over that period of time?</label>
					-50% <input type="range" name="mod_stock_marketGrowthRate" min="-50" max="50" onchange="updateTextInput(this.value);"> 50%</input>
					<input type="text" id="textInput" value=""></input></li><br />

					<li><label>Do you think the United States will manage its monetary policy...</label>
					<select style="width: 15em;" name="mod_stock_riskFreeRate" form="pickerForm">
						<option value="0.8">Badly</option>
						<option value="1.0">OK</option>
						<option value="1.2">Well</option>
					</select></li><br />
				</ol>

			  <input type="hidden" id='hiddenField' name="mod_stock_fullName" value="<%= @stock_proper_name %>"></input>
			  <input type="hidden" id='hiddenField' name="mod_stock_fullSymbol" value="<%= @stock_symbol_name %>"></input>

			  <button class="pure-button pure-button-primary" type="submit">Submit</button>
			</fieldset>
		</form>
	</body>
