<!-- Actually run them through the stock picking process -->
<!-- http://developer.yahoo.com/yui/autocomplete/ -->
<!-- http://stackoverflow.com/questions/9191920/jquery-autocomplete-and-yahoo-finance -->

<h2>Customize Your Stock Quote</h2>

<h3>You selected: <%= @stock_proper_name %> (<%= @stock_symbol_name %>)</h3>

The market values this stock at: <strong><%= get_stock_prices(@stock_symbol_name) %></strong>

<br /><br />

We value this stock at: <strong><%= @our_stock_price %></strong>

<br /><br />

What do you think the stock is worth?  Take the test below and submit your results to get your customized stock price. 

<form method="POST" action="/stocks/results" \>
  <input type="hidden" id='hiddenField' name="mod_stock_fullName" value="<%= @stock_proper_name %>"></input>
  <input type="hidden" id='hiddenField' name="mod_stock_fullSymbol" value="<%= @stock_symbol_name %>"></input>
  <button type="submit">Submit!</button>
</form>
