<!-- Display the results -->
<head>
	<%= javascript_include_tag 'application' %>
</head>
<body class="results">
	<h2> The Stock Price</h2>
  <hr>
  <br />
  <table class="pure-table pure-table-bordered ">
    <tbody>
      <tr>
        <td>The market values <strong><%= @mod_stock_name %></strong> stock at:</td> 
        <td><strong><%= get_stock_prices(@mod_stock_symbol) %></strong></td>

      </tr>
      <tr>
        <td>You value <strong><%= @mod_stock_name %></strong> stock at:</td> 
        <td><strong><%= @mod_stock_value %></strong></td>
      </tr>
    </tbody>
  </table>
  <br />
  <%= link_to 'Start Again', stocks_path, { :class=>"pure-button pure-button-primary" } %>
</body>